.about-author {

	// .about-author__body

	&__body {
		display: flex;
		padding: 20px;
		border-radius: 5px;
		background-color: #ffffff;

		@media (max-width: 768px) {
			padding: 15px;
		}
	}

	// .about-author__img

	&__img {
		margin: 0px 20px 0px 0px;

		img {
			width: 120px;
			height: 120px;
			border-radius: 50%;
			object-fit: cover;

			@media (max-width: 768px) {
				width: 100px;
				height: 100px;
			}

			@media (max-width: 500px) {
				width: 80px;
				height: 80px;
			}

			@media (max-width: 350px) {
				width: 50px;
				height: 50px;
			}
		}

	}

	// .about-author__content-title

	&__content-title {
		color: #333333;
		font-size: 13px;
		font-weight: 800;
		line-height: 25px;
		text-transform: uppercase;
		margin: 0px 0px 20px 0px;

		@media (max-width: 768px) {
			margin: 0 0 10px 0;
		}

		@media (max-width: 768px) {
			margin: 0 0 0px 0;
		}
	}

	// .about-author__content-text

	&__content-text {
		color: #888888;
		font-size: 13px;
		font-weight: 400;
		line-height: 25px;

		@media (max-width: 768px) {
			line-height: 22px;
		}

		@media (max-width: 500px) {
			line-height: 18px;
		}
	}
}
