.basket {
	position: relative;
	z-index: 3;
	display: flex;
	align-items: center;

	// .cart__setting

	&__setting {
		position: relative;

		&::after {
			position: absolute;
			display: block;
			content: "";
			background-color: #ffffff;
			opacity: 0.1;
			height: 100%;
			width: 1px;
			right: 0;
			top: 0;
		}

		&:hover .basket__setting-icon{
			i,
			span {
				color: #e12121;
			}
			
		}

	}

	&__setting-icon {
		display: flex;
		align-items: center;
		padding: 20px;
		cursor: pointer;
		color: #888888;

		&.active {
			color: #e12121;
		}

		span {
			font-size: 13px;
			font-weight: 400;
			margin: 0px 7px 0px 7px;
		}

		i {
			font-size: 19px;
		}

	}

	// .cart__wallet

	&__wallet {
		padding: 20px;
		display: flex;
	}

	&__wallet-icon {
		display: flex;
		cursor: pointer;
		
		i {
			margin: 0px 8px 0px 0px;
			color: #888888;
			font-size: 19px;
		}
	}

	// .cart__wallet-price

	&__wallet-price {
		color: #888888;
		font-size: 13px;
		font-weight: 400;
		line-height: 20px;
		
		span {
			color: #e12020;
		}
	}

}
