.breadcrumbs {
	// .breadcrumbs__list

	&__list {
		padding: 22px 0px;
		display: flex;
		border-bottom: 1px solid #dddddd;
		font-size: 13px;
		font-weight: 400;

		@media (max-width: 700px) {
			flex-direction: column;
		}
	}

	// .breadcrumbs__item

	&__item {
		color: #333333;

		&:not(:last-child) {
			margin: 0px 0px 10px 0px;
		}
	}

	// .breadcrumbs__link

	&__link {
		color: #888888;
		position: relative;
		margin: 0px 24px 0px 0px;

		&::after {
			content: ">";
			position: absolute;
			margin: 0px 0px 0px 10px;
		}

		&:hover {
			color: #333333;
		}
	}
}