.breadcrumbs {
	overflow: auto;
	border-bottom: 1px solid #dddddd;
	padding: 22px 0px;
	// .breadcrumbs__list

	&__list {
		display: flex;
		align-items: center;
		white-space: nowrap;
		font-size: 13px;
		font-weight: 400;

		li {
			margin: 0px 10px 0px 0px;
			padding: 0px 20px 0px 0px;
			
			&:last-child {
				margin: 0;
			}
		}
	}

	// .breadcrumbs__item

	&__item {
		color: #333333;
	}

	// .breadcrumbs__link

	&__link {
		color: #888888;
		position: relative;

		&::after {
			content: ">";
			position: absolute;
			margin: 0px 0px 0px 10px;
		}

		&:hover {
			color: #333333;
		}
	}
}