.cart-detail {
	background: #fff;
	border-radius: 5px;
	padding: 30px;

	@media (max-width: 1366px) {
		padding: 20px;
	}

	@media (max-width: 768px) {
		padding: 15px;
	}
	// .cart-detail__row

	&__row {
		display: flex;
		margin: 0px -15px;

		@media (max-width: 768px) {
			flex-direction: column;
			margin: -15px 0px;
		}
	}

	// .cart-detail__images

	&__images {
		flex: 0 1 41%;
		min-width: 0;
		padding: 0px 15px;

		@media (max-width: 1550px) {
			flex: 0 1 30%;
		}

		@media (max-width: 1300px) {
			flex: 0 1 40%;
		}

		@media (max-width: 1200px) {
			flex: 0 1 36%;
		}

		@media (max-width: 1000px) {
			flex: 0 1 50%;
		}

		@media (max-width: 768px) {
			padding: 15px 0px;
		}
	}

	// .cart-detail__slider

	&__slider {
		max-width: 100%;
	}

	// .cart-detail__slider-item

	&__slider-item {
		margin: 0px 0px 10px 0px;

		img {
			width: 100%;
			height: 570px;
			object-fit: contain;

			@media (max-width: 1366px) {
				height: 450px;
			}

			@media (max-width: 768px) {
				height: 350px;
			}

			@media (max-width: 500px) {
				height: 300px;
			}
		}
	}

	// .cart-detail__box-item

	&__box-item {
		border-radius: 5px;
		width: 64px;
		height: 64px;
		background-color: #ffffff;

		&:not(:last-child) {
			margin: 0px 10px 0px 0px;
		}

		img {
			border-radius: 5px;
			padding: 10px;
			width: 100%;
			height: 100%;
			object-fit: contain;
			padding: 10px;
		}
	}

	// .cart-detail__content

	&__content {
		flex: 0 1 59%;
		padding: 0px 15px;

		@media (max-width: 1550px) {
			flex: 0 1 70%;
		}

		@media (max-width: 1300px) {
			flex: 0 1 60%;
		}

		@media (max-width: 1200px) {
			flex: 0 1 64%;
		}

		@media (max-width: 1000px) {
			flex: 0 1 50%;
		}

		@media (max-width: 768px) {
			padding: 15px 0px;
		}
	}

	// .cart-detail__title

	&__title {
		color: #333333;
		font-size: 30px;
		font-weight: 900;
		line-height: 31px;
		text-transform: capitalize;
		margin: 0px 0px 20px 0px;

		@media (max-width: 1366px) {
			font-size: 28px;
			margin: 0px 0px 10px 0px;
		}

		@media (max-width: 768px) {
			font-size: 26px;
		}

		@media (max-width: 350px) {
			font-size: 20px;
			line-height: 24px;
		}	
	}

	// .cart-detail__rating

	&__rating {
		display: flex;
		align-items: baseline;
		margin: 0px 0px 20px 0px;

		@media (max-width: 768px) {
			margin: 0px 0px 15px 0px;
		}
	}

	// .cart-detail__rating-list

	&__rating-list {
		display: flex;
		margin: 0px 8px 0px 0px;
	}

	// .cart-detail__rating-item

	&__rating-item:not(:last-child){
		margin: 0px 5px 0px 0px;
	}

	// .cart-detail__rating-link

	&__rating-link {
		color: #cccccc;
		font-size: 13px;

		&:hover {
			color: #e2bc0a;
		}
	}
	// .cart-detail__rating-reviews

	&__rating-reviews {
		display: inline-block;
		color: #888888;
		font-size: 13px;
		font-weight: 400;
		position: relative;
		padding: 0px 8px;

		&:hover {
			color: #e12020;
		}

		&:last-child::before {
			content: "";
			position: absolute;
			height: 100%;
			width: 1px;
			background: #888;
 			left: 0;
		}
	}

	// .cart-detail__price

	&__price {
		color: #e12020;
		font-size: 30px;
		font-weight: 900;
		text-transform: uppercase;
		margin: 0px 0px 20px 0px;

		@media (max-width: 1366px) {
			font-size: 28px;
    		margin: 0px 0 10px 0;
		}
	}

	// .cart-detail__stock

	&__stock {
		color: #888888;
		font-size: 12px;
		font-weight: 400;
		text-transform: uppercase;
		margin: 0px 0px 30px 0px;
		padding: 0px 0px 30px 0px;
		border-bottom: 1px solid #dddddd;

		@media (max-width: 1366px) {
			margin: 0px 0 20px 0;
			padding: 0px 0 20px 0;
		}

		@media (max-width: 768px) {
			margin: 0 0 15px 0;
			padding: 0px 0 15px 0;
		}

		span {
			color: #2ea31b;
		}
	}

	// .cart-detail__descr

	&__descr {
		color: #888888;
		font-size: 13px;
		font-weight: 400;
		line-height: 22px;
		margin: 0px 0px 30px 0px;
		padding: 0px 0px 30px 0px;
		border-bottom: 1px solid #dddddd;

		@media (max-width: 1366px) {
			margin: 0px 0 20px 0;
			padding: 0px 0 20px 0;
		}

		@media (max-width: 768px) {
			margin: 0 0 15px 0;
			padding: 0px 0 15px 0;
		}
	}

	&__colors-title {
		color: #333333;
		font-size: 13px;
		font-weight: 600;
		text-transform: uppercase;
		margin: 0px 0px 20px 0px;

		@media (max-width: 768px) {
			margin: 0px 0px 15px 0px;
		}
	}

	// .cart-detail__color-list

	&__colors-list {
		display: flex;
		margin: 0px 0px 30px 0px;
		padding: 0px 0px 30px 0px;
		border-bottom: 1px solid #dddddd;

		@media (max-width: 768px) {
			margin: 0px 0px 15px 0px;
			padding: 0px 0px 15px 0px;
		}
	}

	&__colors-color {
		position: relative;
		cursor: pointer;
		margin: 0 10px;
		height: 18px;
		width: 18px;
		border-radius: 50%;
		border: 1px solid #000;

		&.black {
			background: #000;
		}
		&.white {
			background: #fff;
		}
		&.active::after {
			content: "";
			position: absolute;
			left: -5px;
			top: -5px;
			height: 26px;
			width: 26px;
			border: 2px solid #888;
			border-radius: 50%;
		}
	}

	// .cart-detail__actions

	&__actions {
		display: flex;
		align-items: center;
		margin: 0px 0px 60px 0px;

		@media (max-width: 1366px) {
			margin: 0 0 40px 0;
		}

		@media (max-width: 768px) {
			margin: 0 0 20px 0;
		}

		&--1 {

			@media (max-width: 500px) {
				flex-flow: row wrap;
			}
		}

		&--2 {
			flex-direction: column;
			align-items: flex-start;

			&>div:not(:last-child) {
				margin: 0px 0px 10px 0px;
			}
		}
	}

	// .cart-detail__actions-quantity

	&__actions-quantity {
		position: relative;
		display: flex;
		align-items: center;
		color: #888888;
		font-size: 13px;
		font-weight: 400;

		@media (max-width: 500px) {
			flex: 0 1 100%;
			margin: 0px 0px 10px 0px;
		}
	}

	// .cart-detail__actions-btn

	&__actions-btn {
		padding: 14px 25px;
		border-radius: 20px;
		background-color: #333333;
		color: #ffffff;
		font-size: 12px;
		font-weight: 400;
		text-transform: uppercase;
		margin: 0px 30px 0px 0px;
		transition: background-color .3s;

		@media (max-width: 950px) {
			padding: 14px 15px;
			margin: 0px 15px 0px 0px;
		}

		&:hover {
			background-color: #e12020;
		}
	}

	&__actions-like {
		display: flex;
		align-items: center;

		@media (max-width: 1300px) {

			span {
				display: none;
			}
		}
	}

	// .cart-detail__actions-like

	&__actions-icon {
		font-size: 20px;
		margin: 0px 10px 0px 0px;
	}

	// .cart-detail__actions-list

	&__actions-list {
		display: flex;
		flex-flow: row wrap;
		margin: 0px 19px 0px 0px;
	}

	// .cart-detail__actions-item

	&__actions-item {
		font-size: 13px;
		line-height: 15px;
		font-weight: 400;
		color: #888888;
		margin: 0px 5px 0px 0px;
	}

	// .cart-detail__actions-link

	&__actions-link {
		color: #333333;

		&:hover {
			color: #e12121;
		}
	}
}