.cart {
	position: relative;
	background: #fff;
	border-radius: 5px;
	padding: 20px;
	overflow: hidden;

	display: flex;
	flex-direction: column;
	height: 100%;

	@media (max-width: 1500px) {
		padding: 10px;
	}

	&:hover {
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

		.cart__overlay {
			overflow: visible;
			opacity: 1;
		}
		.cart__body-color {
			opacity: 1;
		}

		.cart__body-actions {
			opacity: 1;
		}

		.cart__img--hover img {
			border: 1px solid #dddddd;
		}

	}
	// .cart__img

	&__img {
		margin: 0px 0px 10px 0px;
		padding: 0px 0px 93% 0px;
		overflow: hidden;
		position: relative;

		@media (max-width: 1366px) {
			padding: 0px 0px 70% 0px;
		}

		@media (max-width: 600px) {
			padding: 0px 0px 60% 0px;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
			position: absolute;
			top: 0;
			left: 0;
		}
	}
	
	&__img--hover {

		img {
			border: 1px solid #fff;
			padding: 10px;
			transition: border .3s;
		}
	}

	&__overlay {
		position: absolute;
		z-index: 1;
		top: 8px;
		left: -30px;
		width: 100px;  
		height: 25px;
		line-height: 25px;
		background-color: #7ed250;
		color: #fff;
		font-size: 13px;
		font-weight: 400;
		text-transform: capitalize;
		text-align: center;
		transform: rotate(-45deg);
		opacity: 0;
		transition: opacity .3s;

		@media (max-width: 768px) {
			opacity: 1;
		}
	}

	// .cart__body-header

	&__body-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 0px 0px 16px 0px;

		@media (max-width: 1366px) {
			margin: 0px 0px 10px 0px;
		}
	}

	// .cart__body-star

	&__rating {
		display: inline-flex;
		flex-direction: row-reverse;
	}

	&__rating-item {
		font-size: 13px;
		color: #cccccc;
		cursor: pointer;
		margin: 0px 5px 0px 0px;
		transition: color .3s;

		&:hover,
		&:hover ~ .cart__rating-item {
			color: #e2bc0a;
		}
	}

	&__rating[data-total-value="1"] .cart__rating-item:nth-child(n + 5),
	&__rating[data-total-value="2"] .cart__rating-item:nth-child(n + 4),
	&__rating[data-total-value="3"] .cart__rating-item:nth-child(n + 3),
	&__rating[data-total-value="4"] .cart__rating-item:nth-child(n + 2),
	&__rating[data-total-value="5"] .cart__rating-item:nth-child(n + 1) {
		color: #e2bc0a;
	}

	&__body {
		display: flex;
		flex-direction: column;
		height: 100%;
	}
	// .cart__body-color

	&__body-color {
		display: flex;
		opacity: 0;
		transition: opacity .3s;

		@media (max-width: 768px) {
			opacity: 1;
		}

		li {
			width: 20px;
			height: 20px;
			border-radius: 50%;
			margin: 0px 0px 0px 5px;
			cursor: pointer;
		}

		li:nth-child(1){
			background: #e12020;
		}
		li:nth-child(2){
			background: #034EB2;
		}
	}

	// .cart__body-descr

	&__body-title {
		flex: 1 1 auto;
		display: block;
		color: #888888;
		font-weight: 400;
		font-size: 16px;
		line-height: 22px;
		text-transform: uppercase;
		margin: 0px 0px 23px 0px;
		transition: color .3s;

		@media (max-width: 1366px) {
			margin: 0px 0px 15px 0px;
			font-size: 14px;
			line-height: 20px;
		}

		&:hover {
			color: #333333;
		}

		&:hover span::before {
			background: #333333;
		}
	}

	&__body-price {
		display: inline-block;
		color: #7ED250;
		font-weight: 600;
		position: relative;
		padding: 0px 0px 0px 5px;

		&::before {
			content: "";
			position: absolute;
			height: 13px;
			width: 1px;
			background: #888888;
			left: 0;
			top: 3px;
			transition: background .3s;
		}

		span {
			color: #e12020;
		}
	}

	&__body-price--old {
		span {
			text-decoration: line-through;
			font-weight: 400;
			margin: 0px 0px 0px 6px;
		}
	}

	// .cart__body-footer

	&__body-footer {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	// .cart__body-btn

	&__body-btn {
		padding: 10px 17px;
		border-radius: 15px;
		border: 1px solid #dddddd;
		background-color: #ffffff;
		color: #888888;
		font-size: 12px;
		font-weight: 400;
		text-transform: uppercase;
		transition: color .3s, background-color .3s;
	
		@media (max-width: 1366px) {
			padding: 8px 15px;
		}

		&:hover {
			background-color: #e12121;
			color: #ffffff;
		}
	}

	&__body-actions {
		display: flex;
		font-size: 20px;
		opacity: 0;
		transition: opacity .3s;

		@media (max-width: 1366px) {
			font-size: 18px;
		}

		@media (max-width: 768px) {
			opacity: 1;
		}
	}

	// .cart__body-shuffle

	&__body-shuffle {
		cursor: pointer;
		color: #aaaaaa;

		&.active {
			color: #333333;
		}
	}

	// .cart__body-like

	&__body-like {
		cursor: pointer;
		margin: -1px 0px 0px 20px;
		color: #aaaaaa;

		@media (max-width: 1366px) {
			margin: -1px 0px 0px 10px;
		}

		&.active {
			color: #333333;
		}

	}
}
