.countdown {
	color: #333333;
	padding: 10px 20px;
	width: 269px;
	border-radius: 5px;
	border: 2px solid #333333;
	background-color: #ffffff;
	display: flex;

	&__number {
		display: flex;
		align-items: baseline;
	}

	&__time {
		font-size: 30px;
		font-weight: 800;
	}

	&__text {
		position: relative;
		display: block;
		font-size: 13px;
		font-weight: 400;
		margin: 0px 10px 0px 3px;

		&::after {
			content: ":";
			position: absolute;
			right: -6px;
		}
	}
 }
  