.menu {
	flex: 1 1 auto;
	
	@media (max-width: 1000px) {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: auto;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		background-color: rgba(#000, .8);
		transform: translateY(-100%);
		transition: transform 0.6s ease 0s;

		&.menu.active {
			transform: translateY(0%);
		}
	}
	// .menu__list

	&__list {
		display: flex;
		position: relative;
		z-index: 3;

		@media (max-width: 1000px) {
			display: block;
		}
	}

	// .menu__item

	&__item {
		display: flex;
		position: relative;

		&::before {
			position: absolute;
			display: block;
			content: "";
			background-color: #ffffff;
			opacity: 0.1;
			height: 100%;
			width: 1px;
			left: 0;
		}

		&:last-child::after{
			position: absolute;
			display: block;
			content: "";
			background-color: #ffffff;
			opacity: 0.1;
			height: 100%;
			width: 1px;
			right: 0;
		}
	}

	// .menu__link

	&__link {
		position: relative;
		color: #888888;
		font-family: Poppins;
		font-size: 16px;
		font-weight: 400;
		line-height: 22px;
		padding: 20px;
		text-transform: uppercase;

		&:hover {
			color: #e12121;;
		}
	}

	&__link-btn {
		font-size: 0;
		background: transparent;
	}

	// .menu__burger

	&__burger {
		display: none;

		@media (max-width: 1000px) {
			display: block;
			position: absolute;
			width: 30px;
			height: 20px;
			right: 20px;
			top: 26px;
			cursor: pointer;
			z-index: 5;

			&.active{
				position: fixed;
			}

			&::after,
			&::before {
				content: "";
				background-color: $white;
				position: absolute;
				width: 100%;
				height: 2px;
				left: 0;
				transition: all 0.3s ease 0s;
			}

			span {
				position: absolute;
				background-color: $white;
				width: 100%;
				height: 2px;
				left: 0;
				top: 9px;
				transition: all 0.3s ease 0s;
			}
			&::before {
				top: 0;
			}
			&::after {
				bottom: 0;
			}
			
			&.active::before{
				transform: rotate(45deg);
				top: 9px;
			}
			&.active span {
				transform: scale(0);
			}
			&.active::after{
				transform: rotate(-45deg);
				bottom: 9px;
			}
		}

	}
}
 