.menu {
	display: flex;
	flex: 1 1 auto;
	
	@media (max-width: 1060px) {
		position: fixed;
		top: 0;
		left: 0;
		width: 40%;
		height: 100vh;
		padding: 80px 0px 0px 5px;
		overflow: auto;
		background-color: rgba(#000, 1);
		transform: translateX(-100%);
		transition: transform 0.6s ease 0s;

		&.menu.active {
			transform: translateX(0%);
		}
	}

	@media (max-width: 600px) {
		width: 60%;
	}

	@media (max-width: 480px) {
		width: 100%;
	}
	// .menu__list

	&__list {
		display: flex;
		position: relative;
		z-index: 3;

		@media (max-width: 1060px) {
			flex-direction: column;
			flex-basis: 100%;
		}
	}

	// .menu__item

	&__item {
		display: flex;
		position: relative;

		@media (max-width: 1000px) {
			flex-direction: column;
		}

		&::before {
			position: absolute;
			display: block;
			content: "";
			background-color: #ffffff;
			opacity: 0.1;
			height: 100%;
			width: 1px;
			left: 0;

			@media (max-width: 1060px) {
				display: none;
			}
		}

		&:last-child::after{
			position: absolute;
			display: block;
			content: "";
			background-color: #ffffff;
			opacity: 0.1;
			height: 100%;
			width: 1px;
			right: 0;

			@media (max-width: 1060px) {
				display: none;
			}
		}
	}

	&__item-search {
		position: relative;
		display: flex;
	}

	// .menu__link

	&__link {
		position: relative;
		color: #888888;
		font-size: 16px;
		font-weight: 400;
		padding: 20px;
		text-transform: uppercase;

		@media (max-width: 1265px) {
			padding: 20px 15px;
			font-size: 15px;
		}

		@media (max-width: 1150px) {
			padding: 20px 10px;
			font-size: 14px;
		}

		@media (max-width: 1060px) {
			color: #fff;
		}

		@media (max-width: 1000px) {
			font-size: 22px;
		}

		@media (max-width: 600px) {
			padding: 20px;
			font-size: 22px;
		}

		@media (max-width: 380px) {
			padding: 20px 10px;
			font-size: 20px;
		}

		&:hover {
			color: #e12121;

			@media (max-width: 1000px) {
				color: #fff;
			}
		}
	}

	&__link-btn {

		&::after {
			position: absolute;
			display: block;
			content: "";
			background-color: #ffffff;
			opacity: 0.1;
			height: 100%;
			width: 1px;
			right: 0;
			top: 0;

			@media (max-width: 1060px) {
				display: none;
			}
		}

		@media (max-width: 1060px) {
			color: #888888;
		}
		
		&.active {
			color: #e12121;
		}
	}

	// .menu__submenu

	&__submenu {
		position: absolute;
		left: 0;
		top: 59px;
		width: 1000px;
		padding: 25px;
		z-index: 100;
		display: none;
		background: #000;
		border-top: 1px solid #e12121;

		@media (max-width: 1265px) {
			top: 57px;
		}

		.menu__item::before,
		.menu__item:last-child::after{
			content: none;
		}

		.menu__link {
			padding: 10px 0px;
			text-transform: capitalize;
		}
	}

	&__submenu-row {
		display: flex;
		flex-flow: row wrap;
		margin: 0px -13px;
	}

	&__submenu-column {
		flex: 0 1 25%;
		padding: 0px 13px;
	}

	// .menu__submenu-title

	&__submenu-title {
		color: #ffffff;
		font-size: 16px;
		font-weight: 600;
		text-transform: uppercase;
		margin: 0px 0px 30px 0px;
		position: relative;

		&::before {
			position: absolute;
			display: block;
			content: "";
			background-color: #ffffff;
			opacity: 0.1;
			height: 1px;
			width: 100%;
			bottom: -20px;
			left: 0;
		}
	}

	// .menu__submenu-item

	&__submenu-item {
		position: relative;
	}

	&__item:hover .menu__submenu{
		display: block;
	}

	// .menu__submenu-link

	&__submenu-link {
		font-weight: 400;
		transition: color .3s ease, transform .3s ease;

		&:hover {
			color: #e12121;
			transform: translateX(10px);

			@media (max-width: 1000px) {
				color: #fff;
			}
		}
	}

	&__submenu-img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: right;
	}

	&__link-btn {
		font-size: 19px;
		background: transparent;
		position: relative;
		z-index: 3;
		cursor: pointer;
	}

	&__dropdown {
		position: absolute;
		top: 100%;
		width: 235px;
		z-index: 100;
		display: none;
		background: #000;
		border-top: 1px solid #e12121;

		@media (max-width: 1000px) {
			width: 100%;
			position: relative;
		}
	}

	&__item-dropdown {

		@media (max-width: 1000px) {
			display: none;
		}
	}

	&__link-dropdown {

		@media (max-width: 1000px) {
			width: 100%;
		
			&.active {
				color: #e12121;
			}
		}

	}

	&__dropdown-item  {
		position: relative;
    	width: 100%;
    	border-bottom: 1px solid rgba(#fff, .1);
		transition: background 500ms ease;
		 
		&:hover {
			background: #e12121;
		}
	}

	&__item:hover .menu__dropdown{
		display: block;

		@media (max-width: 1000px) {
			display: none;
		}
	}

	&__dropdown-link {
		text-transform: capitalize;
		padding: 15px 30px;
		font-weight: 400;
		transition: color .3s ease, transform .3s ease;

		@media (max-width: 1000px) {
			width: 100%;
		}

		&:hover {
			color: #fff;
			transform: translateX(10px);
		}
	}

	// .menu__burger

	&__burger {
		display: none;

		@media (max-width: 1060px) {
			display: block;
			position: absolute;
			width: 30px;
			height: 20px;
			right: 20px;
			top: 20px;
			cursor: pointer;
			z-index: 5;

			&::after,
			&::before {
				content: "";
				background-color: $white;
				position: absolute;
				width: 100%;
				height: 2px;
				left: 0;
				transition: all 0.3s ease 0s;
			}

			span {
				position: absolute;
				background-color: $white;
				width: 100%;
				height: 2px;
				left: 0;
				top: 9px;
				transition: all 0.3s ease 0s;
			}
			&::before {
				top: 0;
			}
			&::after {
				bottom: 0;
			}
			
			&.active::before{
				transform: rotate(45deg);
				top: 9px;
				background-color: #e12121;
			}
			&.active span {
				transform: scale(0);
			}
			&.active::after{
				transform: rotate(-45deg);
				bottom: 9px;
				background-color: #e12121;
			}
		}

	}
}
 