.pagination {
	margin: 0px 0px 0px -100px;

	@media (max-width: 1200px) {
		margin: 0px 0px 0px -70px;
	}

	@media (max-width: 768px) {
		margin: 0px 0px 20px 0px;
	}
	// .pagination__list

	&__list {
		display: flex;
	}

	// .pagination__item

	&__item {
		margin: 0px 10px 0px 0px;

		&:last-child {
			margin: 0;
		}
	}

	// .pagination__link

	&__link {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 30px;
		height: 30px;
		border-radius: 5px;
		border: 1px solid #dddddd;
		background-color: #ffffff;
		color: #888888;
		font-size: 13px;
		font-weight: 400;
		transition: background-color .3s, color .3s;

		&:hover {
			background-color: #e12020;
			color: #fff;
		}

		&.active {
			background-color: #e12020;
			color: #fff;
		}
	}
}
