.popular-product {

	// .popular-product__title

	&__title {
		display: flex;
		color: #333333;
		font-size: 20px;
		font-weight: 800;
		text-transform: uppercase;
		margin: 0px 0px 20px 0px;
	}

	&__tabs {
		
	}

	&__categories {
		display: flex;
		flex-direction: column;
		height: 100%;
	}

	// .popular-product__slider-item

	&__slider-item {
		display: flex;
		flex-direction: column;
		height: 100%;

		position: relative;	
		padding: 20px;
		border: 1px solid #dddddd;
		background-color: #ffffff;
		transition: border .3s;

		&:hover {
			border-color: #e12121;
		}
	}

	&__row {
		display: flex;
		justify-content: space-between;
		margin: 0 -15px;

		@media (max-width: 1300px) {
			margin: 0 -10px;
		}
	}

	&__column {
		padding: 0px 15px;
		width: 100%;

		@media (max-width: 1300px) {
			padding: 0px 10px;

			&:nth-child(5){
				display: none;
			}
		}

		@media (max-width: 1100px) {
			&:nth-child(4){
				display: none;
			}
		}

		@media (max-width: 992px) {
			&:nth-child(4){
				display: block;
			}
		}

		@media (max-width: 850px) {
			&:nth-child(4){
				display: none;
			}
		}
	
		@media (max-width: 650px) {
			width: 100%;
			&:nth-child(3){
				display: none;
			}
		}

		@media (max-width: 430px) {
			&:nth-child(2){
				display: none;
			}
		}
	}

	// .popular-product__categories-img

	&__categories-img {
		margin: 0px 0px 10px 0px;

		img {
			height: 100px;
			width: 100%;
			object-fit: contain;
		}
	}

	// .popular-product__categories-title

	&__categories-title {
		color: #333333;
		font-size: 13px;
		font-weight: 400;
		line-height: 22px;
		text-align: center;
	}
}

.tabs {

	&__slider {
		max-width: 100%;
		height: 100%;
		margin: 0px 0px 30px 0px;
	}

	&__slider-item {
		height: 100%;
	}

	&__title {

	}


	&__title-item {
		text-align: center;
		height: 100%;
	}

	&__title-item--active {
		.popular-product__slider-item {
			border-color: #e12121;
			position: relative;

			&::after {
				content: "";
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				bottom: -6px;
				border-top: 5px solid #e12121;
				border-left: 5px solid transparent;
				border-right: 5px solid transparent;
			}
		}
	}

	&__content {
		
	}

	&__content-item {
		display: none;
	}

	&__content-item--active {
		display: block;
	}
}