.quantity {
	position: relative;
	margin-left: 60px;
	margin-right: 70px;

	@media (max-width: 950px) {
		margin-left: 50px;
		margin-right: 50px;
	}
 }
 
 input[type=number]::-webkit-inner-spin-button,
 input[type=number]::-webkit-outer-spin-button
 {
	-webkit-appearance: none;
	margin: 0;
 }
 
 input[type=number]
 {
	-moz-appearance: textfield;
 }
 
 .quantity input {
	width: 40px;
	height: 40px;
	float: left;
	display: block;
	text-align: center;
	border: 1px solid #dddddd;
	color: #888888;
	font-size: 13px;
	font-weight: 400;
	background-color: transparent;

	@media (max-width: 950px) {
		width: 35px;
		height: 35px;
	}
 }
 
 .quantity input:focus {
	outline: 0;
 }
 
 .quantity-nav {
	float: left;
	position: static;
	height: 40px;

	@media (max-width: 950px) {
		height: 35px;
	}
 }
 
 .quantity-button {
	position: relative;
	cursor: pointer;
	text-align: center;
	border: 1px solid #dddddd;
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 22px;
	font-weight: 800;

	@media (max-width: 950px) {
		width: 35px;
		height: 35px;
	}
 }
 
 .quantity-button.quantity-up {
	position: absolute;
	border-radius: 0 5px 5px 0;
 }
 
 .quantity-button.quantity-down {
	position: absolute;
	border-radius: 5px 0 0 5px;
	right: 40px;

	@media (max-width: 950px) {
		right: 35px;
	}
 }