.sidebar-nav {
	position: relative;
	border-radius: 5px;
	// .sidebar-nav__title

	&__title {
		position: relative;
		font-size: 20px;
		font-weight: 600;
		text-transform: uppercase;
		margin: 0 20px 20px 20px;
		padding: 20px 0px;
		border-bottom: 1px solid rgba(#000000, .2);

		@media (max-width: 1400px) {
			margin: 0 20px 10px 20px;
			padding: 20px 0px 15px;
			font-size: 18px;
		}

		&--light {
			color: #ffffff;
		}

		&--dark {
			color: #333333;
		}

	}

	// .sidebar-nav__list

	&__list {
		display: flex;
		flex-direction: column;
		margin: 0px 0px 10px 0px;
	}

	// .sidebar-nav__item

	&__item {
		position: relative;
		left: 0;
		right: 0;
		width: 100%;
		transition: background 500ms ease;

		&:hover {
			@media (min-width: 991.98px) {
				.sidebar-nav__link--dark {
					background: #e12121;
					color: #fff;
				}

				.sidebar-nav__link--light {
					background: #fff;
					color: #e12121;
				}
			}
		}
	}

	&__item-dropdown {

		&.active {
			@media (max-width: 991.98px) {
				.sidebar-nav__dropdown {
					display: block;
				}
				.sidebar-nav__link--light {
					color: #e12121;
					background: #fff;
				}
				.sidebar-nav__link--dark {
					color: #fff;
					background: #e12121;
				}
				.sidebar-nav__link-icon:after {
					content: "\f106";
				}
			}
		}

	}

	// .sidebar-nav__link

	&__link {
		position: relative;
		display: block;
		padding: 12px 20px;
		font-weight: 400;
		font-size: 13px;
		transition: background .3s, color .3s ease, transform .3s ease;

		@media (max-width: 1400px) {
			padding: 10px 20px;
		}

		&--dark {
			color: #333333;
		}
		  
	  	&--light {
			color: #ffffff;
  		}

	}

	&__link-icon {
		position: relative;

		&::after {
			content: "\f105";
			font-family: "fontello";
			position: absolute;
			right: 20px;
			top: 50%;
			transform: translateY(-50%);
			transition: transform .3s ease;
	
			@media (max-width: 991.98px) {
				content: "\f107";
			}
		}

	}

	&__dropdown {
		position: absolute;
		top: -45px;
		left: 100%;
		z-index: 11;
		width: 480px;
		display: none;
		padding: 30px;
		background: #ffffff;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
		border-radius: 5px;

		@media (max-width: 991.98px) {
			position: relative;
			left: 0;
			top: 100%;
			width: 100%;
			height: 100%;
			border-radius: 0px;
		}

		@media (max-width: 800px) {
			padding: 15px;
		}

		&--img {
			padding: 30px 30px 240px 30px;

			@media (max-width: 1000px) {
				padding: 30px;
			}

			@media (max-width: 800px) {
				padding: 15px;
			}
		}
	}

	&__dropdown-img {
		display: block;

		@media (max-width: 991.98px) {
			display: none;
		}

		img {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
		}
	}

	&__dropdown-row {
		display: flex;
		margin: 0px -25px;

		@media (max-width: 800px) {
			margin: 0px -15px;
		}
	}

	&__dropdown-column {
		flex: 0 1 50%;
		padding: 0px 25px;

		@media (max-width: 800px) {
			padding: 0px 15px;
		}
	}

	&__item:hover .sidebar-nav__dropdown{

		@media (min-width: 991.98px) {
			display: block;
		}
	}

	&__dropdown-title {
		font-weight: 600;
		color: #333333;
		text-transform: uppercase;
		margin: 0px 0px 7px 0px;
	}

	&__dropdown-link {
		color: #888888;
		font-size: 13px;
		font-weight: 400;
		text-transform: capitalize;
		display: block;
		padding: 12px 0px;
		transition: color .3s ease, transform .3s ease;

		@media (max-width: 1400px) {
			padding: 10px 0;
		}


		&:hover {
			color: #e12121;
			text-decoration: underline;
		}
	}

}
