.sidebar-news {

	// .sidebar-news__item-img

	&__item-img {
		margin: 0px 0px 20px 0px;
		height: 180px;		

		img {
			height: 100%;
			width: 100%;
			object-fit: cover;
    		object-position: left;
		}
	}

	// .sidebar-news__item-title

	&__item-title {
		color: #333333;
		font-size: 16px;
		font-weight: 800;
		margin: 0px 0px 17px 0px;
		display: inline-block;

		span {
			color: #888888;
			font-size: 13px;
		}
	}

	// .sidebar-news__item-descr

	&__item-descr {
		color: #888888;
		font-size: 13px;
		font-weight: 400;
		line-height: 22px;
		margin: 0px 0px 17px 0px;
	}

	// .sidebar-news__item-btn

	&__item-btn {
		padding: 13px 24px;
		color: #888888;
		font-size: 13px;
		font-weight: 600;
		text-transform: uppercase;
		border-radius: 20px;
		border: 1px solid #dddddd;
		background-color: #ffffff;
	}
}