.sidebar-price {
	padding: 20px;
	background-color: #ffffff;
	border-radius: 5px;
	// .sidebar-price__title

	&__title {
		color: #333333;
		font-size: 16px;
		font-weight: 900;
		text-transform: uppercase;
		margin: 0px 0px 20px 0px;
		padding: 0px 0px 20px 0px;	
		border-bottom: 1px solid #dddddd;
	}

	// .sidebar-price__polzunok

	

	// .sidebar-price__polzunok-line

	&__polzunok-btn {
		width: 100%;
		padding: 9px;
		border-radius: 20px;
		border: 1px solid #dddddd;
		background-color: #ffffff;
		color: #888888;
		font-size: 13px;
		font-weight: 800;
		text-transform: uppercase;
		transition: color .3s, background-color .3s;

		&:hover {
			background-color: #e12121;
			color: #ffffff;
		}
	}
}

.sidebar-price__polzunok {
}

.sidebar-price__polzunok .ui-slider {
	position: relative;
	background-color: #dddddd;
	height: 5px;
}
.sidebar-price__polzunok .ui-slider .ui-slider-handle {
	position: absolute;
	margin-left: 0;
	margin-right: -16px;
	width: 20px;
	height: 20px;
	cursor: pointer;
	border-radius: 50%;
	border: 1px solid #dddddd;
	top: -8px;
	background: #FFF;
	z-index: 2;
	transition: transform 0.2s, border 0.4s;
}
.sidebar-price__polzunok .ui-slider .ui-slider-handle:hover,
.sidebar-price__polzunok .ui-slider .ui-slider-handle:focus {
	transform: scale(1.2);
	border: 1px solid #888888;
}
.sidebar-price__polzunok-input-l,
.sidebar-price__polzunok-input-r {
	height: 30px;
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 10px;
	width: 110px;
	color: #888888;
	font-size: 13px;
	font-weight: 400;
	margin: 0px 0px 30px 0px;
	display: inline-block;

	@media (max-width: 1366px) {
		width: 80px;
	}
}
.sidebar-price__polzunok .ui-slider .ui-slider-range {
	position: absolute;
	z-index: 1;
	height: 5px;
	border: 0;
	margin: 0px 0px 35px 0px;
	background-color: #888888;
}