.sidebar-news {

	// .sidebar-news__item-img

	&__item-img {
		margin: 0px 0px 20px 0px;
		height: 180px;		

		img {
			height: 100%;
			width: 100%;
			object-fit: cover;
    		object-position: left;
		}
	}

	// .sidebar-news__item-title

	&__item-title {
		color: #333333;
		font-size: 16px;
		font-weight: 800;
		margin: 0px 0px 17px 0px;
		display: inline-block;
		transition: color .3s;

		&:hover {
			color: #e12121;
		}

		span {
			color: #888888;
			font-size: 13px;
		}
	}

	// .sidebar-news__item-descr

	&__item-descr {
		color: #888888;
		font-size: 13px;
		font-weight: 400;
		margin: 0px 0px 17px 0px;

		line-height: 22px;
		width: 100%;
		height: calc(22px * 3);
		overflow: hidden;
		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
	}

	// .sidebar-news__item-btn

	&__item-btn {
		padding: 13px 24px;
		color: #888888;
		font-size: 13px;
		font-weight: 600;
		text-transform: uppercase;
		border-radius: 20px;
		border: 1px solid #dddddd;
		background-color: #ffffff;
		transition: background-color .3s, color .3s;

		&:hover {
			background-color: #e12121;
			color: #fff;
		}
	}
}