.slider-grid {

	
	// .slider-grid__item

	&__item {
	
	}

	// .slider-grid__item-img

	&__item-img {
		padding: 0px 0px 25.2% 0px;
		overflow: hidden;
		position: relative;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			position: absolute;
			top: 0;
			left: 0;
		}
	}
}
