/* ==========================================================================
  General Styles
========================================================================== */
.slick-slide.slick-active{}
.slick-slide.slick-current{}
.slick-slide.slick-center{}

/* Стрелка */
.slick-arrow{
	position: absolute;
	padding: 0;
	font-size: 0;
	cursor: pointer;
	border: none;
	outline: none;
	background: transparent;
	color: transparent;
	z-index: 1;

	border-radius: 50%;
	width: 50px;
	height: 50px;
	background-color: rgba(0, 0, 0, .3);
	top: 50%;
	transform: translateY(-50%);
}

.slick-prev:before, 
.slick-next:before {
	font-family: "fontello";
	font-size: 20px;
	color: #fff;
}

.slick-next:before {
	content: '\e808';
}

.slick-prev:before {
	content: '\e807';
}
.slick-prev:hover, 
.slick-next:hover {
	background-color: #da4b4b;
}
/* ==========================================================================
  main-slider
========================================================================== */
.main-slider .slick-dots{
	position: relative;
	display: flex;
	justify-content: center;
	z-index: 10;
	bottom: 50px;
	margin: 0px 0px 10px 0px;

	@media (max-width: 480px) {
		bottom: 30px;
	}
}

.main-slider .slick-dots li:not(:last-child){
	margin: 0px 10px 0px 0px;
}
	
.main-slider .slick-dots li.slick-active button{
	background-color: transparent;
}
	
.main-slider .slick-dots button{
	width: 16px;
	height: 16px;
	border: 3px solid #eaeaea;
	border-radius: 50%;
	outline: none;
	font-size: 0;
	background-color: #eaeaea;
	padding: 0;
}

/* Стрелка влево */
.main-slider .slick-arrow.slick-prev{
	left: 30px;
}
/* Стрелка вправо */
.main-slider .slick-arrow.slick-next{
	right: 40px;
}
/* ==========================================================================
  featured__slider
========================================================================== */
.featured__slider .slick-prev{
	left: 10px;
}

.featured__slider .slick-next{
	right: 10px;
}
/* ==========================================================================
  testimonials__slider
========================================================================== */
.testimonials__slider .slick-dots{
	position: relative;
	display: flex;
	justify-content: center;
	z-index: 10;
	bottom: -40px;
	margin: 0px 0px 10px 0px;
}

.testimonials__slider .slick-dots li:not(:last-child){
	margin: 0px 10px 0px 0px;
}
	
.testimonials__slider .slick-dots li.slick-active button{
	background-color: transparent;
}
	
.testimonials__slider .slick-dots button{
	width: 16px;
	height: 16px;
	border: 3px solid #eaeaea;
	border-radius: 50%;
	outline: none;
	font-size: 0;
	padding: 0;
}

.news__slider .slick-arrow {
	top: 33%;
}

.news__slider .slick-prev{
	left: 25px;
}

.news__slider .slick-next{
	right: 25px;
}