.slick-slide.slick-active{}
.slick-slide.slick-current{}
.slick-slide.slick-center{}

.slick-dots{
	position: absolute;
	left: 0;
	top: 0;
}

.slick-dots li:not(:last-child){
	margin: 0px 0px 19px 0px;
}
	
.slick-dots li.slick-active button{
	background-color: #5a7797;
}
	
.slick-dots button{
	width: 10px;
	height: 10px;
	border: 1px solid #5a7797;
	outline: none;
	font-size: 0;
	background-color: transparent;
	padding: 0;
}

/* Стрелка */
.slick-arrow{}
/* Стрелка влево */
.slick-arrow.slick-prev{}
/* Стрелка вправо */
.slick-arrow.slick-next{}
/* Стрелка не активная */
.slick-arrow.slick-disabled{}