.sponsor {
	background: #ffffff;
	padding: 15px;
	// .sponsor__row

	&__row {
		display: flex;
		flex-flow: row wrap;
	}

	// .sponsor__column

	&__column {
		flex: 0 1 12.5%;

		@media (max-width: 1000px) {
			flex: 0 1 25%;
		}
	}

	// .sponsor__item

	&__item {
		padding: 0px 0px 58% 0px;
		overflow: hidden;
		position: relative;

		img {
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
		}
	}
}
