.sponsor {
	background: #ffffff;
	// .sponsor__row

	&__row {
		display: flex;
		flex-flow: row wrap;
		margin: -15px 0px;
	}

	// .sponsor__column

	&__column {
		flex: 0 1 12.5%;
		padding: 15px 0px;

		@media (max-width: 768px) {
			flex: 0 1 25%;
		}
	}

	&__title {
		color: #333333;
		font-size: 30px;
		font-weight: 800;
		margin: 0px 0px 15px 0px;
	}

	// .sponsor__item

	&__item {
		padding: 0px 0px 58% 0px;
		overflow: hidden;
		position: relative;

		img {
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
		}
	}
}
