.wallet {
	position: absolute;
	top: 59px;
	right: 0;
	width: 300px;
	min-height: 500px;
   height: 100%;
	border-top: 1px solid #e12121;
	background: #000;
	padding: 30px 20px 35px;
	opacity: 0;
	overflow-x: hidden;
   overflow-y: auto;

 	visibility: hidden;
	transition: opacity .3s, visibility .3s;

	@media (max-width: 600px) {
		right: 0;
		position: fixed;
		width: 100%;
		padding: 30px 20px 100px 20px;
	}

	&.active {
		opacity: 1;
		visibility: visible;
	} 
	// .wallet__cart

	&__cart {
		display: flex;
		border-bottom: 1px solid #888888;
		margin: 0px 0px 15px 0px;
		padding: 0px 0px 15px 0px;

		&:hover {
			.wallet__cart-title {
				color: #e12121;
			}
		}
	}

	// .wallet__cart-img

	&__cart-img {
		margin: 0px 10px 0px 0px;
		padding: 5px 0px;
		height: 70px;
		width: 100%;
    	max-width: 70px;
		background: #fff;
		border-radius: 10px;

		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
			object-position: center;
		}
	}

	// .wallet__cart-body

	&__cart-body {
		position: relative;
		color: #888888;
		display: flex;
		flex-direction: column;
		width: 100%;
	}

	// .wallet__cart-title

	&__cart-title {
		flex: 1 1 auto;
		color: #888888;
		line-height: 20px;
	}

	// .wallet__cart-price

	&__cart-price {
		
		span {
			color: #e12121;
			font-weight: 600;
		}
	}

	// .wallet__cart-close

	&__cart-close {
		position: absolute;
		right: 0;
		bottom: 0;
		height: 20px;
		width: 20px;
		line-height: 15px;
		text-align: center;
		color: #888888;
		border: 2px solid #888888;
		border-radius: 50%;
		cursor: pointer;
	}

	// .wallet__subtotal

	&__subtotal {
		text-align: right;
		font-weight: 600;
		font-size: 22px;
		line-height: 50px;
		text-transform: uppercase;
		color: #fff;
		border-bottom: 1px solid #888888;
		margin: 0px 0px 15px 0px;
		padding: 0px 0px 15px 0px;

		span {
			color: #e12121;
		}
	}

	// .wallet__buttons

	&__buttons {
		display: flex;
		justify-content: space-between;
	}

	// .wallet__buttons-btn

	&__buttons-btn {
		flex: 0 1 45%;
		padding: 13px 16px;
		border-radius: 20px;
		text-transform: uppercase;
		white-space: nowrap;
		background: #fff;
		color: #000;
	}

	// .wallet__buttons-btn--red

	&__buttons-btn--red {
		background: #e12121;
		color: #fff;
	}
}
