// Colours
$white: #fff;
$black: #000000;
$red: #e12121;
$yellow: #fef838;
$gray: #888888;
$font-color: #a4a4a4;
$line-color: #262626;
$brand-color: #52c13e;
$btn-black: #131313;

// Fonts
$font-family: 'Poppins', sans-serif;
$font-secondary: 'Lato', sans-serif;

// Adaptive-font
$maxWidth: 1920;

// Weights
$light: 300;
$normal: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$extrablack: 900;

// Adaptive md
$minwidth: 320px;
$mw: 950;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;