.all-categories-grid {
	padding: 30px 0px 80px;

	@media (max-width: 1366px) {
		padding: 30px 0px 60px;
	}

	@media (max-width: 1000px) {
		padding: 30px 0px 30px;
	}

	@media (max-width: 480px) {
		padding: 20px 0px 20px;
	}
	// .all-categories-grid__title

	&__title {
		color: #333333;
		font-size: 30px;
		font-weight: 800;
		margin: 0px 0px 25px 0px;

		span {
			font-weight: 400;
			color: #e12121;
			font-size: 13px;
		}
	}

	// .all-categories-grid__body

	&__body {
		display: flex;
		margin: 0px -15px;

		@media (max-width: 991.98px) {
			flex-direction: column;
		}
	}

	// .all-categories-grid__sidebar

	&__sidebar {
		flex: 1 1 16.7%;
		min-width: 235px;
		padding: 0px 15px;
		display: flex;
		flex-direction: column;
		
		
		@media (max-width: 991.98px) {
			flex-flow: row wrap;
			justify-content: space-between;
			order: 2;
		}
	}

	// .all-categories-grid__content

	&__content {
		flex: 0 1 83.3%;
		padding: 0px 15px;
		display: flex;
		flex-direction: column;
		min-width: 0;
		order: 1;
	}

	// .all-categories-grid__sidebar-nav

	&__sidebar-nav,
	&__sidebar-brands,
	&__sidebar-price,
	&__sidebar-block,
	&__content-slider {
		margin: 0px 0px 50px 0px;

		@media (max-width: 1400px) {
			margin: 0px 0px 30px 0px;
		}

		@media (max-width: 991.98px) {
			flex: 0 1 48.8%;
			margin: 0 0 20px 0;
		}

		@media (max-width: 560px) {
			flex: 0 1 100%;
		}

		@media (max-width: 480px) {
			margin: 0 0 15px 0;
		}
	}

	&__sidebar-block {

		@media (max-width: 991.98px) {
			flex: 0 1 100%;
		}
	}

	&__content-featured {
		background: #fff;
		padding: 20px 15px;

		@media (max-width: 1000px) {
			margin: 0px 0px 20px 0px;
		}

		@media (max-width: 480px) {
			margin: 0px 0px 15px 0px;
		}

		.featured__slider-item {
			padding: 0px;
		}

		.featured__slider {
			margin: 0px;
		}

		.cart {
			position: relative;

			&::after {
				position: absolute;
				content: "";
				height: 100%;
				width: 1px;
				right: 0;
				top: 0;
				background-color: #dddddd;
			}

			&:hover {
				box-shadow: none;
			}
		}
	}

	&__content-future {

		@media (max-width: 1000px) {
			margin: 0 0 30px 0;
		}

		@media (max-width: 480px) {
			margin: 0 0 20px 0;
		}
	}

	&__sidebar-nav {
		background-color: #ffffff;
	}

	&__content-pagination {
		margin: 60px auto 80px; 

		@media (max-width: 1366px) {
			margin: 40px auto 60px; 
		}

		@media (max-width: 768px) {
			margin: 30px auto 40px; 
		}
	}

}