.featured {
	padding: 80px 0px;

	@media (max-width: 1366px) {
		padding: 60px 0px;
	}

	@media (max-width: 1000px) {
		padding: 50px 0px;
	}

	@media (max-width: 768px) {
		padding: 40px 0px;
	}

	@media (max-width: 550px) {
		padding: 30px 0px;
	}

	// .featured__slider

	&__slider{
		margin: 0px -15px;

		display: flex;
	} 

	// .featured__slider-item

	&__slider-item{
		padding: 10px 15px 0 15px;
	}
	// .featured__cart



}
