.header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;

	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #000000;
		z-index: 3;
	}
	// .header__container

	&__container {
		display: flex;
		align-items: center;
		height: 60px;
		position: relative;
	}
	// .header__menu-inner

	&__menu-inner {

		@media (min-width: 991.98px) {
			flex: 1 1 auto;
		}

	}

	// .header__logo

	&__logo {
		color: #fff;
		position: relative;
		z-index: 5;
		margin: 0px 120px 0px 0px;

		@media (max-width: 1366px) {
			margin: 0px 20px 0px 0px;
		}

		@media (max-width: 991.98px) {
			flex: 1 1 auto;
		}

		img {

			@media (max-width: 480px) {
				width: 100%;
    			min-width: 100px;
			}
		}
	}

	&__basket {
		position: relative;

		@media (max-width: 991.98px) {
			margin-right: 50px;
		}

	}

}