.information {
	padding: 30px 0px 0px 0px;

	@media (max-width: 768px) {
		padding: 15px 0px 0px 0px;
	}

	// .information__row

	&__row {
		display: flex;
		justify-content: space-between;
		margin: 0px -15px;

		@media (max-width: 1300px) {
			margin: 0px -10px;
		}

		@media (max-width: 768px) {
			margin: -10px;
			flex-direction: column;
		}

		&--bg {

			@media (max-width: 768px) {
				flex-direction: row;
			}
		}
	}

	&__row-wrap {
		flex-flow: row wrap;
		margin: -15px;

		@media (max-width: 1300px) {
			margin: -10px;
		}

		@media (max-width: 768px) {
			margin: 0;
		}
	}	  

	&__column--bg {
		width: 75%;
		padding: 0px 15px;

		@media (max-width: 1300px) {
			padding: 0px 6px;
		}

		@media (max-width: 768px) {
			padding: 0;
			width: 100%;
		}
	}

	&__column--sm {
		width: 26%; 
		padding: 0px 15px;

		@media (max-width: 1300px) {
			padding: 0px 10px;
		}

		@media (max-width: 768px) {
			padding: 10px;
			width: 100%;
		} 
	} 

	&__block {
		width: 33%;
		padding: 15px;

		@media (max-width: 1300px) {
			padding: 10px;
		}

		@media (max-width: 768px) {
			padding: 10px;
			width: 50%;
		}

		@media (max-width: 468px) {
			width: 100%;
		}
	}

	&__block--bg {
		width: 66.4%;

		@media (max-width: 768px) {
			width: 100%;
		}
	}

	&__block-item{
		position: relative;
		background-color: rgba(0, 0, 0, 0.1);
		padding: 0px 0px 98% 0px;
		overflow: hidden;	

		@media (max-width: 1400px) {
			padding: 0px 0px 80% 0px;
		}

		&--high {
			padding: 0px 0px 191.5% 0px;

			@media (max-width: 1400px) {
				padding: 0px 0px 158% 0px;
			}

			@media (max-width: 1000px) {
				padding: 0px 0px 160% 0px;
			}

			@media (max-width: 768px) {
				padding: 0px 0px 23% 0px;
			}

			@media (max-width: 480px) {
				padding: 0px 0px 45% 0px;
			}
		}
	
		&--bg {
			padding: 0px 0px 46.4% 0px;

			@media (max-width: 1400px) {
				padding: 0px 0px 38.2% 0px;
			}

			@media (max-width: 768px) {
				padding: 0px 0px 23.6% 0px;
			}

			@media (max-width: 480px) {
				padding: 0 0 48.27% 0;
			}
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: left;
			position: absolute;
			top: 0;
			left: 0;
		}
	}

	&__item-bookmark {
		position: absolute;
		top: 0;
		left: 65px;
		padding: 15px 0px 0px 0px;
		box-shadow: 0 3px 1px rgba(0, 0, 0, 0.1);
		width: 101px;
		height: 153px;
		background: #fff;
		clip-path: polygon(100% 0,100% 75%,50% 100%,0 75%,0 0);
		
		span {
			display: block;
			text-align: center;
			color: #888888;
			font-size: 30px;
			font-weight: 400;
			line-height: 30px;
			text-transform: uppercase;
		}

		span:nth-child(2){
			color: #c53f2d;
			font-weight: 600;
			padding: 5px 0px 0px 0px;
		}

	}

	&__item-content {
		position: absolute;

		&--1 {
			top: 130px;
			left: 30px;
		}

		&--2 {
			top: 60px;
			left: 50%;
			transform: translateX(-50%);
			text-align: center;
		}

		&--3 {
			bottom: 20px;
			left: 50%;
			transform: translateX(-50%);
			text-align: center;
		}

		&--4 {
			top: 90px;
			left: 40px;
		}

		&--5 {
			top: 50%;
			left: 35px;
			text-align: center;
		}
	}
	// .information__item-title

	&__item-title {

		&--1 {
			width: 231px;
			color: #fef838;
			font-size: 50px;
			font-weight: 400;
			line-height: 50px;
			margin: 0px 0px 23px 0px;
		}

		&--2 {
			color: #333333;
			font-size: 25px;
			font-weight: 400;
			text-transform: uppercase;
			margin: 0px 0px 20px 0px;

			span {
				display: block;
				margin: 15px 0px 0px 0px;
				font-size: 60px;
				font-weight: 600;
				text-transform: uppercase;
			}
		}

		&--3 {
			color: #333333;
			font-size: 30px;
			font-weight: 600;
			margin: 0px 0px 13px 0px;
		}

		&--4 {
			color: #333333;
			font-size: 50px;
			font-weight: 400;
			line-height: 50px;
			margin: 0px 0px 30px 0px;

			&:first-letter {
				color: #cd9357;
			}

			span {
				display: block;

				&:first-letter {
					color: #cd9357;
				}
			}
		}

		&--6 {

		}
	}

	// .information__item-descr

	&__item-descr {

		&--1 {
			width: 273px;
			color: #ffffff;
			font-size: 13px;
			font-weight: 400;
			line-height: 60px;
			margin: 0px 0px 30px 0px;
		}

		&--3 {
			color: #000000;
			font-size: 16px;
			font-weight: 400;
		}

		&--5 {
			color: #333333;
			font-size: 20px;
			font-weight: 400;
			margin: 0px 0px 30px 0px;
		}
	}

	// .information__item-btn

	&__item-btn {
		border-radius: 20px;
		font-size: 13px;
		font-weight: 600;
		text-transform: uppercase;

		&--1 {
			padding: 13px 31px;
			background-color: #c53f2d;
			color: #fff;
		}

		&--2 {
			padding: 13px 29px;
			background-color: #fef838;
			color: #333333;
		}

		&--4 {
			padding: 13px 28px;
			background-color: #ffffff;
			color: #333333;
		}

		&--5 {
			padding: 14px 25px;
			background-color: #4f2e1b;
			color: #fff;
		}
	}

	// .information__item-price

	&__item-price {

		&--4 {
			font-size: 30px;
			font-weight: 400;
			margin: 0px 0px 30px 0px;

			span {
				color: #cd9357;
				font-weight: 600;
			}
		}
	}
}

/* ==========================================================================
  information-page
========================================================================== */
.information-page {
	padding: 30px 0px 0px 0px;

	@media (max-width: 768px) {
		padding: 15px 0px 0px 0px;
	}
	// .information-page__row

	&__row {
		display: flex;
		flex-flow: row wrap;
		margin: -15px;

		@media (max-width: 1300px) {
			margin: -10px;
		}
	}

	// .information-page__column

	&__column {
		flex: 0 1 25%;
		padding: 15px;

		@media (max-width: 1300px) {
			padding: 10px;
		}

		@media (max-width: 768px) {
			flex: 0 1 50%;	
		}

		@media (max-width: 480px) {
			flex: 0 1 100%;
		}
	}

	// .information-page__item

	&__item {
		padding: 0px 0px 98% 0px;
		overflow: hidden;
		position: relative;

		@media (max-width: 1400px) {
			padding: 0px 0px 80% 0px;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			position: absolute;
			top: 0;
			left: 0;
		}
	}
}
