.main-slider {
	position: relative;
	top: 30px;

	@media (max-width: 768px) {
		top: 20px;
	}

	// .main-slider__image

	&__image {
		position: relative;
		padding: 0px 0px 36% 0px;
		overflow: hidden;
		background-color: rgba(0, 0, 0, 0.1);

		@media (max-width: 1500px) {
			padding: 0px 0px 30% 0px;
		}

		@media (max-width: 1366px) {
			padding: 0 0 20% 0;
		}

		@media (max-width: 768px) {
			padding: 0 0 35% 0;
		}

		@media (max-width: 480px) {
			padding: 0 0 60% 0;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			position: absolute;
			top: 0;
			left: 0;
		}
	}

	// .main-slider__content

	&__content {
		position: relative;
		z-index: 1;
		max-width: 584px;
		top: 184px;
		left: 27%;

		@media (max-width: 1400px) {
			top: 21%;
			left: 20%;
		}

		@media (max-width: 480px) {
			top: -5px;
			left: -9%;
			max-width: 240px;
		}
	}

	// .main-slider__content-title

	&__content-title {
		color: #333333;
		@include adaptive-font(50, 27);
		font-weight: 600;
		line-height: 60px;
		margin: 0px 0px 30px 0px;

		@media (max-width: 480px) {
			line-height: 30px;
			margin: 0 0 15px 0;
		}

		span {
			color: #da4b4b;
		}
		
	}

	// .main-slider__content-descr

	&__content-descr {
		color: #666666;
		font-size: 16px;
		font-weight: 400;
		line-height: 25px;
		margin: 0px 0px 30px 0px;

		@media (max-width: 480px) {
			margin: 0px 0px 15px 0px;

		}
	}

	// .main-slider__content-btn

	&__content-btn {
		display: inline-block;
		padding: 13px 31px;
		border-radius: 20px;
		background-color: #ffffff;
		color: #333333;
		font-size: 14px;
		font-weight: 600;
		text-transform: uppercase;

		@media (max-width: 480px) {
			padding: 10px 25px;
		}
	}
}