.shop-col {
	padding: 50px 0px 90px;

	@media (max-width: 768px) {
		padding: 20px 0 20px;
	}
	// .shop-col__body

	&__body {
		display: flex;
		margin: 0px -15px;

		@media (max-width: 768px) {
			flex-direction: column;
		}
	}

	// .shop-col__sidebar

	&__sidebar {
		flex: 1 1 16.7%;
		min-width: 235px;
		padding: 0px 15px;
		display: flex;
		flex-direction: column;
		
		
		@media (max-width: 768px) {
			margin: 50px 0px 0px 0px;
			flex-flow: row wrap;
			justify-content: space-between;
			order: 2;

			&>div {
				flex: 0 1 48%;
			}
		}

		@media (max-width: 560px) {
			flex-direction: column;
		}
	}

	&__sidebar-nav,
	&__sidebar-block,
	&__sidebar-news {
		margin: 0px 0px 50px 0px;

		@media (max-width: 768px) {
			margin: 0px 0px 30px 0px;
		}

		@media (max-width: 400px) {
			margin: 0px 0px 15px 0px;
		}
	}

	&__sidebar-new {
		margin: 0px 0px 30px 0px;

		@media (max-width: 400px) {
			margin: 0px 0px 15px 0px;
		}
	}

	&__sidebar-nav {
		background-color: rgba(225, 33, 33, 0.9);
	}

	&__sidebar-tags {

	}
	// .shop-col__content

	&__content {
		flex: 0 1 83.3%;
		padding: 0px 15px;
		display: flex;
		flex-direction: column;
		min-width: 0;
		order: 1;
	}

	// .shop-col__content-product

	&__content-product,
	&__content-sponsor,
	&__content-featured,
	&__content-information,
	&__sidebar-news {
		margin: 0px 0px 50px 0px;
	}
	
	&__content-popular {
		margin: 0px 0px 30px 0px;
	}

	&__content-sponsor {
		padding: 30px 20px;
	}
}