.special-product {
	position: relative;
	padding: 65px 0px 130px;

	@media (max-width: 1366px) {
		padding: 60px 0px 80px;
	}

	@media (max-width: 1000px) {
		padding: 50px 0px 70px;
	}

	@media (max-width: 768px) {
		padding: 40px 0px 60px;
	}

	@media (max-width: 550px) {
		padding: 30px 0px 30px;
	}
	// .special-product__bg

	&__bg {
		position: absolute;
		height: 100%;
		width: 100%;
		left: 0;
		top: 0;
	}

	// .special-product__row

	&__row {
		position: relative;
		z-index: 1;
		display: flex;
		justify-content: center;

		@media (max-width: 768px) {
			flex-direction: column-reverse;
			margin: -15px 0px;
		}
	}

	// .special-product__column

	&__column {
		flex: 0 1 19.3%;
		order: 2;

		@media (max-width: 768px) {
			flex: 0 1 19.3%;
			padding: 15px 0px;
		}

		&--bg {
			flex: 0 1 50%;
			order: 1;
		}
	}

	// .special-product__text

	&__text {
		padding-right: 70px;

		@media (max-width: 768px) {
			padding: 15px;
		}
	}

	// .special-product__text-title

	&__text-title {
		color: #333333;
		font-size: 50px;
		font-weight: 600;
		line-height: 50px;
		margin: 0px 0px 30px 0px;

		@media (max-width: 1400px) {
			font-size: 40px;
			margin: 0 0 25px 0;
		}

		@media (max-width: 480px) {
			font-size: 35px;
			 margin: 0 0 15px 0;
			 line-height: 45px;
		}
	}

	// .special-product__text-descr

	&__text-descr {
		color: #888888;
		font-size: 16px;
		font-weight: 400;
		margin: 0px 0px 30px 0px;

		@media (max-width: 1400px) {
			margin: 0px 0px 20px 0px;
		}

		p {
			line-height: 25px;
			margin: 0px 0px 20px 0px;
		}

		span {
			display: block;
			color: #333333;
			margin: 0px 0px 12px 0px;
			text-transform: uppercase;
		}

		li {
			position: relative;
			font-size: 13px;
			line-height: 15px;
			padding: 0px 0px 0px 10px;
			margin: 0px 0px 12px 0px;

			&::before {
				display: inline-block;
				content: "";
				position: absolute;
				left: 0;
				top: 50%;
				transform: translateY(-50%);
				width: 5px;
				height: 5px;
				border-radius: 50%;
				background-color: #888888;
			}

			&:last-child {
				margin: 0px 0px 0px 0px;
			}
		}
	}

	// .special-product__text-price

	&__text-price {
		color: #888888;
		font-size: 40px;
		font-weight: 300;
		text-transform: uppercase;
		margin: 0px 0px 25px 0px;

		@media (max-width: 1400px) {
			font-size: 35px;
			margin: 0 0 20px 0;
		}

		@media (max-width: 400px) {
			font-size: 30px;
		}

		span {
			color: #ad0300;
			font-weight: 600;
		}
	}

	// .special-product__btn

	&__btn {
		border-radius: 20px;
		padding: 14px 36px;
		background-color: #fed638;
		color: #333333;
		font-size: 13px;
		font-weight: 600;
		text-transform: uppercase;
		transition: color .3s, background-color .3s;

		&:hover {
			background-color: #ad0300;
			color: #fff;
		}
	}

	// .special-product__image

	&__image {
		margin: 0px 0px 15px 0px;
		background: url("../img/special-product/red.webp");
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		object-position: center;
		object-fit: contain;
		min-height: 300px;
		min-width: 300px;
		height: 100%;
		transition: .5s linear;
	}

	// .special-product__colors

	&__colors {
		display: flex;
		justify-content: center;

		span {
			position: relative;
			cursor: pointer;
			width: 20px;
			height: 20px;
			border-radius: 50%;

			&:not(:last-child) {
				margin: 0px 5px 0px 0px;
			}

			&.red {
				background: #D31D2C;
			}
			&.blue-darker {
				background: #355885;
			}
			&.dark {
				background: #363636;
			}
			&.brown {
				background: #A7471D;
			}
			&.blue {
				background: #0377B2;
			}
		}
	}
}